*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Libre Franklin', sans-serif;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
html,
body{
    position: relative;
}
.for-page{
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}
.page{
    position: relative;
    padding-bottom: 97px;
}





/*------------header-----------------------*/
.header{
    padding-top: 13px;
    padding-bottom: 18px;
    align-items: baseline;
}
.responsive_menu{
    display: none;
}
.nav{
    justify-content: end;
}
.nav ul{
    display: flex;
    justify-content: end;
    padding-top: 5px;
}
.nav li{
    list-style: none;
}
.nav a {
    font-family: Poppins;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6C6C6C;
    transition: .7s;
    margin-left: 40px;
}
.nav a:hover{
    text-decoration: none;
    color: #AC1313;
    transition: .7s;
}
/*----------header-----------------*/

/*--------------banner------------------*/

.banner{
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 114px;
}
.banner .banner-text{
    padding: 97px 0;
}
.banner .banner-text .pompeo{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    margin-bottom: 0;
}
.banner .banner-text .title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.banner .banner-text .title .and{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
    margin-top: 12px;
    margin-bottom: 14px;
}
.banner .banner-text .unique{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-bottom: 51px;
}
.banner .banner-text a{
    padding: 19px 31px;
    background: #AC1313;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner .banner-text a:hover{
    text-decoration: none;
}
.banner .vase{
    position: relative;
}
.banner .vase img{
    position: absolute;
    top: -429px;
    right: 0;
}
.banner .vaseHidden{
    display: none;
}
/*--------------banner-----------------*/

/*---------------------block2----------------*/
.block2{
    padding: 120px 0;
    text-align: center;
}
.block2 .transform{
    position: relative;
}
.block2 .transform .rotated{
    position: absolute;
    top: 259px;
    left: -20px;
    transform: rotate(-90deg);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
}
.block2 .text{
    text-align: center;
}
.block2 .text .upper{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    margin-bottom: 0;
}
.block2 .text .porcelain{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 63px;
}
.block2 .text .porcelain .and{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
    margin-top: 12px;
    margin-bottom: 14px;
    padding-top: 0;
}
.block2 .about{
    margin-top: 90px;
    text-align: left;
}
.block2 .about .info .upperPart{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 36px;
    color: #000000;
    max-width: 313px;
    margin-bottom: 26px;
}
.block2 .about .info .lower{
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
    max-width: 500px;
}
/*----------------block2--------------------*/

/*------------------options-------------------*/

.options{
    padding: 20px 0;
}
.options .bggrey{
    margin: 150px 0;
    padding: 110px 0;
    position: relative;
    max-height: 220px;
    max-width: 500px;
    background: #F5F5F5;
}
.options .bggrey img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.options .description{
    margin: 150px 0;
    padding-top: 20px;
}
.options .description .name{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 0;
}
.options .description .aboutVase{
    margin-top: 23px;
    margin-bottom: 27px;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
    max-width: 388px;
}
.options .description a{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.options .Rotated{
    position: relative;
}
.options .Rotated .featured{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    transform: rotate(-90deg);
    position: absolute;
    top: -555px;
    right: -20px;
}
/**--------------------------options------------------*/

/*---------------------------collection------------------*/

.collection{
    padding: 120px 0;
}
.collection .store{
    text-align: center;
    margin-bottom: 60px;
}
.collection .store .online{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    margin-bottom: 17px;
}
.collection .store .pottery{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}
.collection .choice{
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 20px;
}
.collection .choice .productName{
    margin-top: 15px;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-bottom: 0;
    padding: 0 5px;
}
.collection .choice .price{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding: 0 5px;
    margin-bottom: 0;
}
.collection .button{
    margin-top: 40px;
    text-align: center;
}
.collection .button a{
    padding: 19px 31px;
    background: #AC1313;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.collection .button a:hover{
    text-decoration: none;
}
.collection .product{
    position: relative;
}
.collection .product .rotatedProduct{
    position: absolute;
    top: -666px;
    left: -40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    transform: rotate(-90deg);
}
/*---------------------------collection-------------------*/

/*----------------------ready---------------*/
.ready{
    background: url(/img/bg2.png) no-repeat;
    background-size: cover;
    padding: 120px 0;
}
.ready .inner{
    max-width: 490px;
}
.ready .inner .innerUp{
    margin-bottom: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}
.ready .inner .start{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #000000;
    margin-top: 7px;
    margin-bottom: 13px;
}
.ready .inner .addition{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C6C;
    margin-bottom: 30px;
}
.ready .inner .addition .red{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #AC1313;
}
.ready .inner a{
    padding: 19px 31px;
    background: #AC1313;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.ready .inner a:hover{
    text-decoration: none;
}
/*---------------------ready-------------------*/

/*-------------------------updates---------------*/
.updates{
    padding: 120px 0;
    text-align: center;
}
.updates .news .latest{
    margin-top: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    margin-bottom: 20px;
}
.updates .news .new{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    margin-bottom: 63px;
}
.updates .news .new .and{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
}
.updates .news .form{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.updates .news .form input{
    padding: 12px 40px;
    border: 1px solid #EBEBEB;
    width: 64%;
}
.updates .news .form input:focus{
    outline: none;
}
.updates .news .form button{
    background: #000000;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 15px 50px;
    border: none;
    text-transform: uppercase;
}
.updates .news .form button:hover{
    cursor: pointer;
}
.updates .news .square{
    height: 13px;
    width: 13px;
    background: #8534FF;
    display: inline-block;
    margin-right: 10px;
}
.updates .news .signUp{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #A1A1A1;
    display: inline-block;
}
.inTouch{
    position: relative;
}
.inTouch .intouchRotated{
    position: absolute;
    top: -245px;
    right: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    transform: rotate(-90deg)
}
/*-------------------------------updates---------------------*/

/*------------------------final--------------------*/

.final{
    background: rgba(219, 219, 219, 0.1);
    padding: 80px 0;
    text-align: center;
}
.final .finalLogo{
    max-width: 340px;
    margin: 0 auto;
}
.final .finalLogo .finalText{
    margin-top: 30px;
    margin-bottom: 94px;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
}
.final .aboutUs{
    text-align: center;
}
.final .aboutUs .things{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.final .aboutUs a{
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
}
.final .aboutUs .address{
    max-width: 167px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
}
/*----------------final--------------------*/
.line{
    width: 100%;
    height: 2px;
    background: #EBEBEB;
}
/*----------------------footer---------------*/
.footer{
    background: rgba(219, 219, 219, 0.1);
    padding: 30px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer .footerInfo{
    text-align: center;
}
.footer .footerInfo .designed{
    font-family: Libre Franklin;
    font-size: 12px;
    line-height: 22px;
    color: #6C6C6C;
}
.footer .footerInfo .designed .who{
    font-size: 12px;
    font-family: Libre Franklin;
    line-height: 22px;
    color: #000000;
    font-style: normal;
    font-weight: bold;
}




















